.noIdeaMode * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

body {
  min-width: 425px;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 794px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
 
}

.navbar {
  display: flex;
  z-index: 99;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 425px;
  height: 70px;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;

}

.navbar a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px  25px;
  text-decoration: none;
  font-size: 17px;
}



.formPositionFix {
  margin-top: 121px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 325px;
  height: 477px;
  align-items: center;
  background-color: #ffffff;
  overflow: visible;   
  padding-top: 110px; 
  border-radius: 5px;
}

.container {
  position: relative;
  align-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  color: white;
  margin-top: 60px; 
  min-width: 425px;
  width: 100vw;
  
}

.rowContainer {
  width: 100vw;
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  color: white;
  position: relative;
  height: 55px;
  padding: 20px auto;
  justify-content: space-evenly;
  align-items: center;

}

.menuBar {
  width: 22px;
  height: 2px;
  background-color: #f9f9f9;
  margin: 4px 0;
}

.bgImage{
  background-image: url("../images/BG.png");
  background-size: cover;
  background-repeat: no-repeat ;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  min-width: 425px;

}

.suRectangle{
  background: rgb(171,71,188);
background: linear-gradient(90deg, rgba(171,71,188,1) 0%, rgba(123,31,162,1) 100%);
  top: -40px;
  width: 360px;
  height: 150px;
  position: absolute;
  color: white;
  text-align: center;
  

  border-radius: 3px;
  justify-items: space-between;
  
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
  
}

.facebookIcon{
  background-image: url("../images/FACEBOOK.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
  position: relative;
}

.googleIcon{
  background-image: url("../images/GOOGLE+.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 32px;
  position: relative;
  height: 21px;
}

.twitterIcon{
  background-image: url("../images/TWITTER.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 26px;
  height: 21px;
  position: relative;
}

.downloadIcon{
  background-image: url("../images/downlaod.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 26px;
  height: 21px;
  display: flex;
  position: relative;
  justify-content: space-around;
  
}
.instaIcon{
  background-image: url("../images/insta.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 26px;
  height: 21px;
  position: relative;
}


.iconContainer{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-evenly ;
  margin-top: 35px;
  position: relative;
  min-width: 75px;
}
.iconContainerNav{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-evenly ;
  
  position: relative;
  min-width: 75px;
}

.emailIcon{
  background-image: url("../images/email.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 15px 15px 0 0;
  
}

.nameIcon{
  background-image: url("../images/name.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 15px 15px 0 0;
  
  

}

.passIcon{
  background-image: url("../images/password.svg");
  background-size: auto;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 15px 15px 0 0;
  

}


.formStyle{
display: flex;
flex-direction: row;
width: 343px;
justify-content: space-between;
margin-top: 30px;

}

input{
border:none;
border-bottom: 1px solid #d2d2d2;
padding: 5px 25px;
outline: none;
width: 300px;


}

.buttonStyle{
  margin-top: 44px;
  font-weight: 400;
  color: #9C27B0;
  text-decoration: none;
  
}

.singupStyle{
  margin-top: 27px;
}

.menuBarContent{
  display: none;
}














@media only screen and (min-width: 786px) {


  body {
    font-size: 12px;
    
  }


  .menuBarIcon{
    display: none !important;
  }

  .menuBarContent{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    width:  50vw;
    padding: 20px;
    overflow: hidden;

  }
  .menuContainer{
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    padding: 20px;
    
  }
  .navbar a {

    padding: 0;
    display: -webkit-inline-box;
   
  }

  

  .iconContainer{
    
   
   width:120px;
   justify-content: space-around;
   position: relative;
   width: 100%;
  }

  .downloadContainer{
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end ;
    margin-top: 35px;
    position: relative;
    min-width: 75px;
  }

  .rowContainer {
    width: 50vw;
    align-self: start;
   
    
  }

  .bgImage{
    background-image: url("../images/BGtablet.png");
    
    min-width: 786px;
  
  }

  .containerStart{
      align-items: self-start;
  }

  .containerCenter{
    align-items: center;
}

.rowContainerCenter{
  justify-self: center;
}



}


@media only screen and (min-width: 1440px) {


  .bgImage{
    background-image: url("../images/BGwindow.png");
    
    min-width: 786px;
  
  }

  footer{

    flex-direction: row;
  }

  .container{
flex-direction: row;
align-items: space-between;
justify-content: space-around;

  }

  .rowContainer{
    width: 25%;
    display: flex;
    align-self: center;
   
    
  }

  .rowContainerCenter{
    justify-content: space-around  ;
    width: 30vw;

  }

}




